@mixin abs($abs:absolute){
    position:$abs;
}
@mixin sca($sca:scale(0.8)){
    transform:$sca;
    -ms-transform:$sca; 	/* IE 9 */
    -moz-transform:$sca; 	/* Firefox */
    -webkit-transform:$sca; /* Safari 和 Chrome */
    -o-transform:$sca; 	/* Opera */
}
#home-dq{  
    width: 34%;
    height: 89vh;
    background: url("../image/dq1.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 1.5%;
    left: 3%;
    float:left;
    .pw-i{
        width: 10px;
        height: 10px;
        background: #01ffaf;
        border-radius: 5px;
        left: 5%;
        top: 2.5%;
        @include abs;
    }
    .pw-title{
        left: 10%;
        top: 1.3%;
        color: #01ffaf;
        @include abs;
        font-size: 1vw;
        letter-spacing: 3px;
        width: 30%;
        display: block;
    }
    // .yx:hover{
    //     background: url("../image/wxz.png") no-repeat;
    //     background-size: 100% 100%;
    // }
    .yx{
        right:19%;
        top: -1%;
        color: #01ffaf;
        @include abs;
        @include sca;
        font-size: 1vw;
        letter-spacing: 2px; 
        width:35%;
        background: url("../image/dqnew11.png") no-repeat;
        background-size: 100% 100%;
        height: 6%;  
        text-align: center;
        display: table; 
        span{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .img-active{
        background: url("../image/qdnew1.png") no-repeat;
        background-size: 100% 100%;
    }
    .yx1{
        right: 37%;
        top: 0%;
        color: #01ffaf;
        @include abs;
        @include sca;
        font-size: 1vw;
        letter-spacing: 2px; 
       
       
    }
    .pw{
        right: -3.5%;
        top: -1%;
      
    }
    .zw{
        right: -3.5%;
        top: -1%;
    }
    .ningb{
        width: 17%;
        height: 5%;
        background: url("../image/dq3.png") no-repeat;
        background-size: 100% 100%;
        right: 15.5%;
        top: 9.7%;
        color: #fff;
        @include abs;      
        font-size: 1vw;
        letter-spacing: 2px; 
        text-align: center;
        display: table;
        span{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .xs{
        background: url("../image/dq4.png") no-repeat;
        background-size: 100% 100%;
        right: 2.5%;
        top: 9.7%;
       text-align: center;
       display: table;
       span{
        display: table-cell;
        vertical-align: middle;
     }
    }
    .wft{
        right: 26.5%;
        top: 18%;
        color: #fff;
    }
    .td{
        right: 26.5%;
        top: 23%;
        color: #fff;
    }
    .td1{
        right: 26.5%;
        top: 28%;
        color: #fff;
    }
    .wftsl{
        letter-spacing: 1px;
        height: 5%;
        background: url("../image/dq2.png") no-repeat;
        background-size: 100% 100%;
        right: -.5%;
        top: 17%;
        color: #fff;
        width: 31%;
        text-align: center;
        display: table;
        span{
            color:  #ffa800;
         display: table-cell;
         vertical-align: middle;
      }
    }
    .tdsl{
        letter-spacing: 1px;
        height: 5%;
        background: url("../image/dq2.png") no-repeat;
        background-size: 100% 100%;
        right: -.5%;
        top: 22%;
        color: #fff;
        width: 31%;
        text-align: center;
        display: table;
        span{
            color:  #ff4e00;
         display: table-cell;
         vertical-align: middle;
      }
    }
    .tdsl1{
        letter-spacing: 1px;
        height: 5%;
        background: url("../image/dq2.png") no-repeat;
        background-size: 100% 100%;
        right: -.5%;
        top: 27%;
        color: #fff;
        width: 31%;
        text-align: center;
        display: table;
        span{
         color: #59ba12;
         display: table-cell;
         vertical-align: middle;
      }
    }
    #map{
        width: 92%;
        height: 80%;
        left: 2%;
        top: 15%;
        @include abs;

    }
    .dqtd{
        width: 18%;     
        height: 6%;
        left: 5%;
        top: 90%;
        display: table;       
        background: url("../image/51_18.png") no-repeat;
        background-size: 100% 100%;
        text-align: center;  
        color:#00f6ff;     
        @include abs;
         span{        
            vertical-align: middle;
            display: table-cell;
         }
    }
}