@mixin abs($abs: absolute) {
  position: $abs;
}
@mixin bg($bg: url("../image/6_12.png")) {
  background: $bg no-repeat;
  background-size: 100% 100%;
}
@mixin sca($sca: scale(0.8)) {
  transform: $sca;
  -ms-transform: $sca; /* IE 9 */
  -moz-transform: $sca; /* Firefox */
  -webkit-transform: $sca; /* Safari 和 Chrome */
  -o-transform: $sca; /* Opera */
}
#home-yx {
  overflow: hidden;
  width: 100%;
  height: 49%;
  background: url("../image/4_14.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 0%;
  left: 0%;
  .zw-i {
    width: 10px;
    height: 10px;
    background: #01ffaf;
    border-radius: 5px;
    left: 5%;
    top: 5%;
    @include abs;
  }
  .zw-title {
    left: 10%;
    top: 3%;
    color: #01ffaf;
    @include abs;
    font-size: 1vw;
    letter-spacing: 3px;
  }

  .fanye {
    width: 200%;
    height: 100%;
    transition: all 0.1s;
    -ms-transition: all 0.1s; /* IE 9 */
    -moz-transition: all 0.1s; /* Firefox */
    -webkit-transition: all 0.1s; /* Safari 和 Chrome */
    -o-transition: all 0.1s; /* Opera */
    margin-left: 0%;

  .bg,
  .tb {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
  }

  .bg {
  .yx-home {
    @include abs;
    @include bg;
  }
  .yx-pos {
    @include abs;
    color: #00f6ff;
    font-size: 1vw;
    letter-spacing: 1px;
  }
  .yx-td {
    text-align: center;
    line-height: 120%;
    @include bg(url("../image/6_14.png"));
    width: 39%;
    height: 5.5%;
    top: 11%;
    span {     
      display: block;
      @include sca;
    }
  }
  .pos {
    left: 2.5%;
    top: 11%;
    width: 15.5%;
    height: 11.5%;
  }
  .posdq {
    left: 18.5%;
  }
  .poslj {
    left: 58%;
  }
  .yx-td-title {
    text-align: center;

    width: 39%;
    height: 5.5%;
    
  }
  .posdq-title {
    left: 18.5%;
    top: 16.75%;
    div {
      @include bg(url("../image/6_17.png"));
      width: 32.6%;
      height: 100%;
      float: left;
     line-height: 120%;
     white-space:nowrap;
      span {
       
        display: block;
        @include sca;
      }
    }
    .d2 {
      margin-left: 1%;
    }
    .d3 {
      margin-left: 1%;
    }
  }
  .poslj-title {
    left: 58%;
    top: 16.75%;
    div {
      @include bg(url("../image/6_17.png"));
      width: 32.6%;
      height: 100%;
      float: left;
      line-height: 120%;
      white-space:nowrap;
      span {
      
        display:block;
        @include sca;
      }
    }
    .c2 {
      margin-left: 1%;
    }
    .c3 {
      margin-left: 1%;
    }
  }
  .dqsj {
    top: 27%;
    text-align: center;
    cursor: pointer;
    height: 5.75%;
    width: 100%;

    .dqname {
      @include bg(url("../image/6_21.png"));
      width: 15.5%;
      height: 100%;
      float: left;
      left: 2.5%;
      @include abs;
      line-height: 120%;
      span {
       
        display: block;

        @include sca;
      }
    }
    .da{
      @include bg(url("../image/da.png")); 
  }
    .yx-td-title {
      height: 100%;
      top: 0%;
     
     .d1,
     .c1 {
       position: relative;
        color: #ffa800;
        .i{                         
          border: 5px solid transparent;
          border-left: 5px solid transparent;                       
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(5px, -5px) rotate(315deg);
          width: 0;
          height: 0;
        }
      }
      .d2,
      .c2 {
        position: relative;
        color: #ff4e00;
        .i{                         
          border: 5px solid transparent;
          border-left: 5px solid transparent;                       
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(5px, -5px) rotate(315deg);
          width: 0;
          height: 0;
        }
      }
      .d3,
      .c3 {
        position: relative;
        color: #59ba12;
        .i{                         
          border: 5px solid transparent;
          border-left: 5px solid transparent;                       
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(5px, -5px) rotate(315deg);
          width: 0;
          height: 0;
        }
      }
      .dc {
        @include bg(url("../image/xiao.png"));
       }
    }
  }
}




.tb {
  #yxecharts {
    height: 85%;
    width: 98%;
    left: 1%;
    top: 12%;
    position: absolute;
  }
}

}
.z {
  z-index: 500;
  width: 46px;
  height: 18px;
  background: url("../image/z.png") no-repeat;
  background-size: 100% 100%;
  @include abs;
  right: 18%;
  top: 3%;
  text-align: right;
  font-size: 10px;
  color: #00f6ff;
  line-height: 18px;
  cursor: pointer;
  span {
    margin-right: 4px;
  }
}

.y {
  cursor: pointer;
  z-index: 500;
  width: 46px;
  height: 18px;
  background: url("../image/y.png") no-repeat;
  background-size: 100% 100%;
  @include abs;
  right: 3%;
  top: 3%;
  text-align: left;
  font-size: 10px;
  color: #00f6ff;
  line-height: 18px;
  span {
    margin-left: 4px;
  }
}


.z2 {
  z-index: 500;
  width: 46px;
  height: 18px;
  background: url("../image/zhankai.png") no-repeat;
  background-size: 100% 100%;
  @include abs;
  right: 33%;
  top: 3%;
  text-align: center;
  font-size: 10px;
  color: #00f6ff;
  line-height: 18px;
  cursor: pointer;
  span {
    margin-right: 4px;
  }
}

.z1 {
  background: url("../image/z1.png") no-repeat;
  background-size: 100% 100%;
}
.y1 {
  background: url("../image/y1.png") no-repeat;
  background-size: 100% 100%;
}



}



